<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
		<key>front-facing-camera</key>
		<true/>
	</dict>
	<key>artistName</key>
	<string>LetSolutions</string>
	<key>bundleDisplayName</key>
	<string>ExampleForms1</string>
	<key>bundleShortVersionString</key>
	<string>1.0</string>
	<key>bundleVersion</key>
	<string>1.0</string>
	<key>copyright</key>
	<string>© 2017 Letsolutions</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Utilities</string>
	<key>genreId</key>
	<integer>6002</integer>
	<key>itemName</key>
	<string>ExampleForms1</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>LetSolutions</string>
	<key>playlistName</key>
	<string>ExampleForms1</string>
	<key>releaseDate</key>
	<string>2017-10-15T09:00:00Z</string>
	<key>s</key>
	<integer>143441</integer>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.letsolutions.ExampleForms1</string>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>Puzzle</string>
			<key>genreId</key>
			<integer>7012</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>Word</string>
			<key>genreId</key>
			<integer>7019</integer>
		</dict>
	</array>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
